@media screen and (min-width: 450px) {

  .header {
    padding: 0 20px;
  }

  .home .container .home-desc .titulo,
  .home .container .home-desc p,
  .tratamentos .marmore .text-card h4,
  .tratamentos .marmore .text-card p {
    text-align: left;
  }

  .banner {
    background-image: url('../imagens/banner/Janaina-banner-dourado-MOBILE-TABLET.webp');
    height: 1000px;
    top: -12%;
  }

  .home {
    height: 750px;
  }

  .home .container .home-desc {
    width: 400px;
  }

  .home .container .home-desc .titulo {
    font-size: 36px;
  }

  .home .container .home-desc p {
    font-size: 36px;
  }

  .home .container .btn-1 {
    margin-top: 16px;
    width: 189px;
    height: 34px;
    font-size: 14px;
  }

  .tratamentos .marmore {
    background-image: url(../imagens/marmore-parana-tablet.webp);
    height: 282px;
    margin-top: 30px;
  }

  .tratamentos .marmore .text-card {
    width: 652px;
    height: 219px;
    align-items: flex-start;
    padding: 30px 35px;
  }

  .tratamentos .marmore .text-card h4 {
    margin: 32px 0px 21px 0;
    font-size: 24px;
    width: 400px;
  }

  .tratamentos .marmore .text-card p {
    font-size: 17px;
  }

  .tratamentos .trata-desc {
    height: 364px;
  }

  .tratamentos .trata-desc h4 {
    font-size: 28px;
    margin: 74px 0 9px;
    width: 630px;
  }

  .tratamentos .trata-desc p {
    font-size: 19px;
    width: 700px;
  }

  .tratamentos .card {
    height: 700px;
  }

  .tratamentos .card .acne-desc {
    width: 480px;
    height: 135px;
  }

  .tratamentos .card .acne-desc h3 {
    font-size: 46px;
  }

  .tratamentos .card p {
    font-size: 19px;
  }

  .tratamentos .card .div-arrow p {
    font-weight: 100;
    font-size: 16px;
  }

  .swiper {
    margin-top: 90px;
  }

  .swiper-slide img {
    width: 280px;
    height: 290px;
    border-radius: 20px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
    display: block;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .tratamentos .xp {
    font-size: 24px;
  }

  .tratamentos .trata-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .tratamentos .trata-desc2 {
    font-size: 24px;
  }

  .tratamentos .btn-trata {
    width: 180px;
    height: 36px;
    font-size: 14px;
  }

  .feedback {
    margin-top: 120px;
  }

  .feedback .titulos {
    max-width: 500px;
    text-align: center;
  }

  .feedback .btns-feed svg {
    width: 38px;
    height: 38px;
  }

  .online {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
  }

  .online .desc-online {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    width: 427px;
    margin-left: 20px;
  }

  .online img {
    margin-top: 15px;
  }

  .online h1 {
    font-size: 46px;
    margin-top: 58px;
    text-align: left;
  }

  .online .text2 {
    font-size: 24px;
    margin: 6px 0 32px;
    width: 316px;
  }

  .online .p-online {
    font-family: "inter", sans-serif;
    font-size: 16px;
    width: 437px;
  }

  .online .btn-1 {
    margin: 26px 0 32px;
    width: 190px;
    height: 36px;
    font-size: 13px;
  }

  .afeccoes .bg {
    height: 600px;
  }

  .afeccoes .search {
    width: 450px;
    height: 56px;
    margin: 38px 0 16px;
  }

  .afeccoes .search svg {
    margin-top: 9px;
    margin-left: 10px;
  }

  .afeccoes .search h3 {
    font-size: 20px;
  }

  .afeccoes .card-search {
    width: 576px;
    height: 110px;
    font-size: 14px;
    padding: 26px;
  }

  .afeccoes h5 {
    font-size: 20px;
    margin: 18px 0 48px;
  }

  .afeccoes .card {
    width: 209px;
    height: 112px;
    font-size: 14px;
  }

  .afeccoes .cards {
    display: flex;
    gap: 39px;
  }

  .afeccoes .text-pele {
    font-size: 16px;
    max-width: 576px;
    margin: 32px 0 32px;
  }

  .afeccoes .trata-desc {
    max-width: 600px;

  }

  .afeccoes .trata-desc h4 {
    font-size: 26px;
  }

  .mentoria {
    height: 850px;
  }

  .mentoria .text-mac {
    font-size: 16px;
    max-width: 160px;
    margin: 17px 150px 0 0;
  }

  .mentoria .container img {
    width: 450px;
    height: 280px;
  }

  .mentoria .btn-1 {
    margin: 58px 219px 0 0;
    font-size: 10px;
    width: 100px;
    height: 25px;
  }

  .mentoria .ment-desc {
    margin-top: 90px;
    max-width: 500px;
  }

  .mentoria .ment-desc h1 {
    font-size: 32px;
    margin-top: 5px;
  }

  .mentoria .ment-desc p {
    font-size: 17px;
  }

  .mentoria .ment-desc-2 {
    max-width: 500px;
    margin: 100px auto 140px;
  }

  .mentoria .ment-desc-2 .titulo {
    font-size: 32px;
  }

  .mentoria .ment-desc-2 .subtitulo {
    font-size: 17px;
    margin-top: 12px;
  }

  .sobre {
    height: 670px;
  }

  .sobre .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobre .container .desc-sobre {
    width: 389px;
    text-align: left;
    margin-right: 80px;
  }

  .sobre h1:first-of-type {
    margin-top: 36px;
  }

  .sobre h1 {
    font-size: 29px;
  }

  .sobre p {
    font-size: 17px;
  }

  .sobre img {
    margin: 0;
    width: 210px;
    height: 316px;
  }

  .contato .btns-conta .btn-1 {
    width: 150px;
    height: 42px;
    font-size: 16px;
  }

  .contato p {
    width: 260px;
    margin-top: 28px;
  }

}

@media screen and (min-width: 900px) {
  .header .paulodosite {
    display: none;
  }

}

@media screen and (min-width: 1025px) {
  
  .header {
    height: 90px;
    backdrop-filter: blur(4px);
    font-size: 14px;
    padding: 0 50px;
    top: -10px;
  }

  .header nav {
    padding-right: 20px;
  }

  .banner {
    background-image: url('../imagens/banner/banner-dourado-desktop.webp');
    height: 100%;
    top: 0%;
  }

  .home {
    height: 610px;
    display: flex;
    justify-content: center;
  }

  .home .container {
    margin-right: 30px;
  }

  .home .container .home-desc {
    width: 650px;
    margin-right: 300px;
  }

  .home .container .home-desc .titulo {
    font-size: 64px;
  }

  .home .container .home-desc p {
    font-size: 42px;
    width: 400px;
  }

  .home .container .btn-1 {
    margin-top: 16px;
    width: 216px;
    height: 49px;
    font-size: 18px;
    font-weight: 400;
  }

  .tratamentos .marmore {
    background-image: url(../imagens/marmore-parana-desktop.webp);
    height: 356px;
    margin-top: 10px;
  }

  .tratamentos .marmore .text-card {
    width: 800px;
    height: 280px;
    align-items: start;
    padding: 0 35px 40px;
  }

  .tratamentos .marmore .text-card h4 {
    margin: 32px 0px 21px 0;
    font-size: 28px;
    width: 540px;
  }

  .tratamentos .marmore .text-card p {
    font-size: 19px;
    margin-bottom: 0px;
    width: 690px;
  }

  .tratamentos .trata-desc h4 {
    font-size: 32px;
    width: 740px;
  }

  .tratamentos .trata-desc p {
    font-size: 22px;
    width: 900px;
  }

  .tratamentos .card {
    height: 700px;
    border-radius: 30px;
  }

  .tratamentos .card .acne-desc {
    width: 60%;
    margin-top: 40px;
  }

  .tratamentos .card .acne-desc h3 {
    font-size: 64px;
    margin-bottom: 16px;
  }

  .tratamentos .card p {
    font-size: 22px;
   }

  .tratamentos .card .div-arrow {
    margin-top: 24px;
}

  .tratamentos .card .div-arrow p {
    font-weight: 100;
    font-size: 16px;
    padding-right: 10px;
  }

  .tratamentos .card .div-arrow svg {
    width: 12px;
    height: 12px;
    margin-bottom: 1px;
  }

  .tratamentos .xp {
    font-size: 26px;
  }

  .tratamentos .trata-cards {
    gap: 80px;
  }

  .tratamentos .trata-desc2 {
    font-size: 26px;
    margin-top: 16px;
  }

  .tratamentos .btn-trata {
    width: 190px;
    height: 38px;
    font-size: 16px;
  }

  .feedback {
    height: 500px;
    margin-top: 200px;
  }

  .feedback .titulos {
    max-width: 500px;
    text-align: left;
    margin-right: 450px;
  }

  .feedback .titulos h1 {
    font-size: 60px;
  }

  .feedback .titulos h4 {
    font-size: 26px;
    width: 700px;
  }

  .feedback .btns-feed {
    gap: 15px;
  }

  .feedback .btns-feed svg {
    width: 38px;
    height: 38px;
  }

  .online .desc-online {
    width: 595px;
  }

  .online h1 {
    font-size: 64px;
    margin-top: 48px;
  }

  .online .text2 {
    font-size: 27px;
    width: 600px;
  }

  .online .p-online {
    font-size: 20px;
    width: 550px;
  }

  .online img {
    content: url(../imagens/iphone-online-desktop.webp);
  }

  .online .btn-1 {
    width: 238px;
    height: 42px;
    font-size: 15px;
  }

  .afeccoes .bg {
    height: 680px;
  }

  .afeccoes .search {
    width: 630px;
    height: 84px;
    justify-content: space-around;
    padding: 13px;
  }

  .afeccoes .search svg {
    width: 60px;
    height: 60px;
  }

  .afeccoes .search h3 {
    font-size: 26px;
    margin-left: 12px;
  }

  .afeccoes .card-search {
    width: 930px;
    height: 155px;
    font-size: 18px;
    padding: 40px;
  }

  .afeccoes h5 {
    font-size: 24px;
  }

  .afeccoes .card {
    width: 270px;
    height: 144px;
    font-size: 18px;
  }

  .afeccoes .cards {
    display: flex;
    gap: 39px;
  }

  .afeccoes .text-pele {
    font-size: 22px;
    max-width: 800px;
    margin: 42px 0 32px;
  }

  .afeccoes .trata-desc {
    max-width: 800px;
  }

  .afeccoes .trata-desc h4 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .afeccoes .trata-desc p {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 300;
  }

  .afeccoes .btn-1 {
    width: 280px;
    height: 46px;
    margin-bottom: 128px;
    font-size: 20px;
  }

  .mentoria {
    height: 700px;
  }

  .mentoria .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .mentoria .container img {
    content: url('../imagens/macbook-desktop.webp');
    width: 580px;
    height: 390px;
  }

  .mentoria .text-mac {
    font-size: 16px;
    max-width: 190px;
    margin: 20px 200px 0 0;
  }

  .mentoria .btn-1 {
    z-index: 1;
    margin: 90px 270px 0 0;
    font-size: 12px;
    width: 120px;
  }

  .mentoria .ment-desc {
    text-align: left;
    margin-right: 90px;
    margin-top: 10px;
    max-width: 500px;
  }

  .mentoria .ment-desc h1 {
    font-size: 40px;
  }

  .mentoria .ment-desc p {
    font-size: 20px;
    margin-top: 8px;
  }

  .mentoria .ment-desc-2 {
    max-width: 600px;
  }

  .mentoria .ment-desc-2 .titulo {
    font-size: 36px;
  }

  .mentoria .ment-desc-2 .subtitulo {
    font-size: 20px;
    margin-top: 12px;
  }

  .mentoria .ment-desc-2 .btn-ment {
    width: 197px;
    height: 36px;
    margin-top: 18px;
  }

  .sobre {
    height: 768px;
  }

  .sobre .container .desc-sobre {
    width: 483px;
  }

  .sobre h1:first-of-type {
    margin-top: 0px;
  }

  .sobre h1 {
    font-size: 44px;
  }

  .sobre p {
    font-size: 18px;
  }

  .sobre img {
    margin: 0;
    width: 210px;
    height: 316px;
  }

  .contato .btns-conta {
    flex-direction: row;
    gap: 0px;
  }

  .contato .btns-conta .btn-1 {
    width: 190px;
    font-size: 18px;
    margin: 20px;
  }

  .contato .btns-conta .btn-1 svg {
    width: 24px;
  }

  .contato p {
    font-size: 20px;
  }

}

@media screen and (min-width: 1270px) {
  .home .container {
    margin-right: 200px;
  }

  .home .home-desc {
    margin-right: 300px;
  }

}

@media screen and (min-width: 1400px) {
  .tratamentos .card {
    width: 1400px;
  }
}